{% extends 'base.html.twig' %}

{% block title %}QUIZ || PAGE D'ACCUEIL
{% endblock %}


		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/login.css') }}">
		{% endblock %}

{% block body %}

<section class="window-effect bg-gradient-clair-orange">

		{% block header %}
			{% include "header/headerHome.html.twig" %}
		{% endblock %}

		{% block main %}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			<form method="post" accept-charset="UTF-8" role="form" data-parsley-validate autocomplete="off" class="form-login">

				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="login-as">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<label for="pseudo" class="label-pseudo">Votre pseudo</label>
				<input type="text" id="pseudo" name="_username" maxlength="20" pattern="[A-Za-z0-9]{3,20}" class="input-pseudo" placeholder="Votre pseudo ici" required>



				<label for="password" class="label-password">Votre mot de passe</label>
				<input type="password" id="password" name="_password" maxlength="50" class="input-password" placeholder="Votre mot de passe ici" required>

				<button ref="{{ path('app_register') }}" type="submit" class="btn btn-custom sumbit-login">
					Valider
				</button>
			</form>

			<div class="register-link">
			<p>Pas encore de compte ?</p>
			<a href="{{ path('app_register') }}" class="btn btn-custom">Inscription</a>
			</div>
		{% endblock %}

		{% block footer %}
			{% include "footer/footerHome.html.twig" %}
		{% endblock %}

	</section>
{% endblock %}
