{% extends 'base.html.twig' %}

{% block title %}QUIZ || S'ENREGISTRER
{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/register.css') }}">
		{% endblock %}

{% block body %}
	<section class="window-effect bg-gradient-clair-orange">
		{% block header %}
			{% include "header/headerRegister.html.twig" %}
		{% endblock %}

		{% block main %}

    <div class="register-container">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {
            'attr': {
                'id': 'register-form',
                'role': 'form',
                'method': 'post',
                'autocomplete': 'off',
                'data-parsley-validate': ''
            }
        }) }}

        {{ form_row(registrationForm.username, {
            'label_attr': {
                'class': 'register-label'
            },
            'attr': {
                'class': 'register-input'
            }
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            'label_attr': {
                'class': 'register-label'
            },
            'attr': {
                'class': 'register-input',
                'placeholder': 'Votre mot de passe ici'
            }
        }) }}

        <button type="submit" class="btn btn-custom">S'enregistrer</button>
        {{ form_end(registrationForm) }}
        <a href="{{ path('app_login') }}" class="btn btn-custom2">Précédent</a>

    </div>

{% endblock %}


		{% block footer %}
			{% include "footer/footerHome.html.twig" %}
		{% endblock %}
	</section>
{% endblock %}
