{% extends 'base.html.twig' %}

{% block title %}QUIZ || QUESTION{% endblock %}

{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/question.css') }}">
{% endblock %}

{% block body %}
<div id="quiz-container">
    <div class="overlay"></div>
    <!-- Section principale -->
    <section class="window-effect bg-gradient-clair-orange">
    
        {% block main %}
            {% block header %}
                {% include "header/headerQuestion.html.twig" %}
            {% endblock %}

            <form id="question-form">
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <input type="hidden" name="index" value="{{ index }}">
                <div class="answers-grid">
                    {% for answer in question.answers %}
                        <div class="answer-container" data-answer-id="{{ answer.id }}">
                            <input type="radio" name="answer" value="{{ answer.id }}" id="answer-{{ answer.id }}" hidden>
                            <label for="answer-{{ answer.id }}">{{ answer.getAnswer }}</label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class=" btn btn-custom3 btn valider">Valider</button>
            </form>
        {% endblock %}

        {% block javascriptsQUIZ %}
            <script>
                var quizSlug = "{{ quiz.Slug }}";
                var totalQuestions = {{ totalQuestions }};
            </script>
            <script src="{{ asset('Javascript/AJAX.js') }}"></script>
            <script src="{{ asset('Javascript/timer.js') }}"></script>
        {% endblock %}

        {% block footer %}
            {% include "footer/footerQuestion.html.twig" %}
        {% endblock %}
    </section>
</div>
{% endblock %}