{% extends 'base.html.twig' %}

{% block title %}QUIZ || RESULTATS{% endblock %}

{% block javascripts %}
<script src="{{ asset('Javascript/animations.js') }}"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/result.css') }}" />
{% endblock %}

{% block body %}
  <section class="window-effect bg-gradient-clair-orange">

    {% block header %}
        {% include "header/headerResult.html.twig" %}
    {% endblock %}

    {% block main %}
    <h1 class="quiz-title changa-one-regular">
        {{ quiz.name }}
    </h1>

    <!-- PODIUM -->
    {% if topScores is not empty %}
<article class="podium-article">
    {% for score in topScores %}
        {% if loop.index == 1 %}
            <!-- PREMIÈRE PLACE : score le plus élevé, affiché au centre -->
            <div class="podium-div podium-item" style="order: 2;">
                <img src="images/Phone - Quiz résultat/Podium/Gold-Medal.png" alt="Médaille d'or">
                <p class="changa-one-regular">{{ score.player.username }}</p>
                <span class="changa-one-regular">{{ score.score }} points</span>
                <img src="images/Phone - Quiz résultat/Podium/1.png" alt="Colone 1" class="bottom-0">
            </div>
        {% elseif loop.index == 2 %}
            <!-- DEUXIÈME PLACE : score le deuxième, affiché à gauche -->
            <div class="podium-div podium-item" style="order: 1;">
                <img src="images/Phone - Quiz résultat/Podium/Silver-Medal.png" alt="Médaille d'argent">
                <div>
                    <p class="changa-one-regular">{{ score.player.username }}</p>
                    <span class="changa-one-regular">{{ score.score }} points</span>
                </div>
                <img src="images/Phone - Quiz résultat/Podium/2.png" alt="Colone 2" class="bottom-0">
            </div>
        {% elseif loop.index == 3 %}
            <!-- TROISIÈME PLACE : score le troisième, affiché à droite -->
            <div class="podium-div podium-item" style="order: 3;">
                <img src="images/Phone - Quiz résultat/Podium/Bronze-Medal.png" alt="Médaille de Bronze">
                <p class="changa-one-regular">{{ score.player.username }}</p>
                <span class="changa-one-regular">{{ score.score }} points</span>
                <img src="images/Phone - Quiz résultat/Podium/3.png" alt="Colone 3">
            </div>
        {% endif %}
    {% endfor %}
</article>

    {% endif %}

    <article class="article-footer">
        <h3 class="changa-one-regular">
            Bravo {{ player.username }} !
        </h3>
        <h4 class="changa-one-regular">
            Votre score : {{ playerScore }} points
        </h4>
    </article>

    <form action="{{ path('choice_quiz') }}" method="get" class="form-footer">
        <button type="submit" class="btn btn-custom2">
            Retour aux choix des quiz
        </button>
    </form>
    {% endblock %}

    {% block footer %}
        {% include "footer/footerResult.html.twig" %}
    {% endblock %}
</section>



	{% block javascriptsQUIZ %}

            
    {% endblock %}

{% endblock %}